In [1]:
# get element index of a list
example = [1, 2, 3]
example.index(2)

1

In [2]:
# loop through a list to get index and value
example = [1, 2, 3]
for index, value in enumerate(example):
    print(f"{index}: {value}")

0: 1
1: 2
2: 3

In [2]:
# create a list from 0 to 99
data = [str(n) for n in range(100)]
print(data)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [4]:
# split a list into evenly sized chunks
chunks = [data[x:x + 10] for x in range(0, len(data), 10)]
for chunk in chunks:
    print(chunk)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
['10', '11', '12', '13', '14', '15', '16', '17', '18', '19']
['20', '21', '22', '23', '24', '25', '26', '27', '28', '29']
['30', '31', '32', '33', '34', '35', '36', '37', '38', '39']
['40', '41', '42', '43', '44', '45', '46', '47', '48', '49']
['50', '51', '52', '53', '54', '55', '56', '57', '58', '59']
['60', '61', '62', '63', '64', '65', '66', '67', '68', '69']
['70', '71', '72', '73', '74', '75', '76', '77', '78', '79']
['80', '81', '82', '83', '84', '85', '86', '87', '88', '89']
['90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [5]:
# convert a list of tuples into a list with all first elements of each tuple
example = [(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]
result = [t[0] for t in example]
print(result)

[1, 3, 5, 7, 9]

In [6]:
# convert a list of strings into string
example = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
s = ','.join(example)
print(s)

0,1,2,3,4,5,6,7,8,9

In [7]:
# convert a list of numbers into string
numbers = [n for n in range(10)]
# convert it into a list of strings and then join each element into one string
print(','.join([str(x) for x in numbers]))

0,1,2,3,4,5,6,7,8,9

In [8]:
# replace the original list in a single line
numbers = [n for n in range(10)]
numbers = [n for n in numbers if bool(n % 2)]
print(numbers)

[1, 3, 5, 7, 9]

In [9]:
# even numbers using filter function
numbers = [n for n in range(10)]
print(list(filter(lambda x: x % 2 == 0, numbers)))

[0, 2, 4, 6, 8]

In [10]:
# concatenating two lists
a = [n for n in range(5)]
b = [n for n in range(5, 10)]
# can be assigned to a third variable
print(a + b)
# cannot be assigned to a third variable
print(a.extend(b))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]