In [3]:
# separating a string with a delimeter
'a/b/c/d'.split('/')

['a', 'b', 'c', 'd']

In [4]:
# joining particular parts after separting a string
'/'.join('a/b/c/d'.split('/')[2:])

'c/d'

In [5]:
# replacing the last character of a string
'hello '[:-1] + ', world'

'hello, world'

In [7]:
# formatting string with variable placer
example = "SELECT * FROM {table} WHERE id = '{id}';"
example.format(table="students", id="123")

"SELECT * FROM students WHERE id = '123';"

In [8]:
# formatting the string with dictionary
kwargs = {
    "table": "teachers",
    "id": "000"
}
example.format(**kwargs)

"SELECT * FROM teachers WHERE id = '000';"

In [10]:
# converting http payload string to key-value dictionary
def convertParamsToDict(req_string):
    req_dict = {}
    for val in req_string.split('&'):
        k, v = val.split('=')
        req_dict[k] = v
    return req_dict
req_string = "custom=Jeff&id=123&age=23"
convertParamsToDict(req_string)

{'custom': 'Jeff', 'id': '123', 'age': '23'}

In [12]:
# converting a string to or from binary
print("hello world")
binary_result = "hello world".encode('utf-8')
print(binary_result)
string_result = binary_result.decode('utf-8')
print(string_result)

hello world
b'hello world'
hello world

In [13]:
# converting a string to or from base64 string
import base64
base64_result = base64.b64encode("hello world".encode('utf-8'))
print(base64_result)
string_result = base64.b64decode(base64_result).decode('utf-8')
print(string_result)

b'aGVsbG8gd29ybGQ='
hello world

In [14]:
# converting a dictionary to string with '&' symbol which is commonly used in http urls
import urllib.parse
print(urllib.parse.urlencode({'one': 1, 'two': 2}))

one=1&two=2

In [15]:
# formating the specific characters in urls
print(urllib.parse.quote('one=1&two=2'))

one%3D1%26two%3D2